attrs==18.2.0
Click==7.0
csvw==1.4.2
Flask==1.0.2
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
numpy==1.16.1
pandas==0.24.1
pathlib2==2.3.2
python-dateutil==2.7.5
pytz==2018.9
rfc3986==1.1.0
scandir==1.9.0
six==1.11.0
uritemplate==3.0.0
Werkzeug==0.15.3
PyYaml==5.1
rdflib==4.2.2
#psycopg2==2.8.4
psycopg2-binary==2.8.4
